<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zibro"
        tools:targetApi="31">
        <activity
            android:name=".view.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.home.menu.friends.FriendPageActivity" />
        <activity android:name=".view.home.menu.friends.FriendsActivity" />
        <activity android:name=".view.home.menu.friends.AlterFriendsActivity" />
        <activity android:name=".view.login.SignUpActivity" />
        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.home.general.GeneralBirthDateFragment" />
        <activity android:name=".view.home.general.GeneralGenderFragment" />
        <activity android:name=".view.home.general.GeneralHomeLocationFragment" />
        <activity android:name=".view.home.general.GeneralNameFragment" />
        <activity android:name=".view.home.menu.alarm.AlarmActivity" />
        <activity android:name=".view.home.menu.customerservice.CustomerServiceActivity" />
        <activity android:name=".view.home.menu.friends.SearchFriendActivity" />
        <activity android:name=".view.home.menu.mypage.MyPageActivity"/>
        <activity android:name=".view.home.menu.myplace.MyPlaceActivity"/>
<!--        TODO : activity_notification 알림/공지사항 화면 구성
            TODO : 알림과 공지사항 메세지 동적으로 메세지 뜨게 설계(백엔드?)
-->

    </application>

</manifest>